h1 {
    color: red;
}

p.weather {
display: inline;
font-weight: bold;
font-size: 1.5rem;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

p.temp {
display: inline;
font-weight: bold;
font-size: 1.5rem;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

p.location {
display: inline;
font-weight: bold;
font-size: 1.5rem;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

p.recommendation {
display: inline;
font-weight: bold;
font-size: 2.8rem;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.weather-info {
background-color: gray;
border: solid black;
color: white;
font-family: "Grandstander";
margin: 0 auto;
max-width: 1000px;
text-align: center;
line-height: 1.6;
}

@media (min-width: 1000px) {
    .weather-info {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
        "clothes data"
        "desc data";
        grid-column-gap: 2em;
    }
    .leftdiv {
        grid-area: desc;
        position: relative;
        text-align: left;
    }
    .middlediv {
        grid-area: clothes;
        position: relative;
        text-align: left;
    }
    .rightdiv {
        grid-area: data;
        position: relative;
    }

    p.weather {
        font-size: 3rem;
    }

    p.temp {
        font-size: 3rem;
    }

    p.location {
        font-size: 1.5rem;
    }

    p.recommendation {
        font-size: 4rem;
    }
}